# Sets
- A set is an unordered collection of items. Every element is unique (no duplicates) and mutable(changeable).
- sets are written with curly brackets {} .
- Sets can be used to perform mathematical set operations like union, intersection, symmetric difference etc.

In [1]:
#empty set 
my={}
print(my)

{}

In [2]:
#empty set using set constructor
print(set())

set()

In [3]:
# Creating a Set with  the use of a List
set1 = set(["s", "or", "ks"])
print(set1)

{'ks', 'or', 's'}

In [4]:
# set with mixed datatypes 
st1= {1, "Hello", 3.4}
print(st1)

{1, 3.4, 'Hello'}

In [5]:
# Deleting a set
del st1

In [6]:
#length of set
st1= {1, "Hello", 3.4}
print(len(st1))

3

In [7]:
#Creating a Set with the use of Constructor
String = 'krishna'
set2 = set(String)
print(set2)

{'n', 'k', 'a', 'r', 'i', 'h', 's'}

Sets are unordered the items has no index.But you can for loop. if a specified value is present in a set,by using in keyword.

In [8]:
st1= {1, "Hello", 3.4}
for x in st1:
    print(x)

1
3.4
Hello

A set contains only unique elements but at the time of set creation, multiple duplicate   values can also be passed.Order of elements in a set is undefined and is unchangeable.

In [9]:
s = set([1, 2, 4, 4, 3, 3, 3, 6, 5])
print(s)

{1, 2, 3, 4, 5, 6}

## Methods

1) <b>add()</b> : To add one items to set only one at a time.
- Lists cannot be added to a set as elements because Lists are not hashable whereas Tuples can be added because tuples are immutable and hence Hashable

In [21]:
set1={2,6,8}
set1.add("Telephone")
set1.add((6,7)) # Adding elements  of only one tuple to the Set
print(set1)

{2, (6, 7), 6, 8, 'Telephone'}

2) <b>clear():)</b> To clear all elements from the set but empty set will be present.

In [22]:
set2={3,6}
set2.clear()
print(set2)

set()

3) <b>copy() )</b> 	:Returns a shallow copy of a set.

In [14]:
set1={7,9}
set2 = set1.copy()
print(set2)

{9, 7}

4) <b>union(1,2,3...)</b>: Return a set containing the union of sets. Both union() and update() will exclude any duplicate items.
- Union is performed using | operator.

In [16]:
set1={7,9}
set2={'h','u'}
#with function
z = set1.union(set2)
print(z)
#with operator
print(set1|set2)

{9, 'h', 'u', 7}
{9, 'h', 'u', 7}

5) <b>Update(): )</b>To add more than one item to a set use the update() method.In these lists can add.
- update() method that inserts all the items from one set into another

In [20]:
set1 = set([ 4, 5, (6, 7)]) 
set1.update([10, 11])
print(set1)

{4, 5, (6, 7), 10, 11}

6) <b>Pop() : )</b>Used to remove and return an element from the set, but it removes only the last element of the set.
- Sets are unordered, so when using the pop() method, you will not know which item that gets removed.

In [27]:
set1={1,2,3}
set1.pop()
print(set1)

{2, 3}

7) <b>remove() or discard(): </b>Elements can be removed from the Set by using built-in remove() function but a KeyError arises if element doesn’t exist in the set. To remove elements from a set without KeyError, use discard(),if the element doesn’t exist in the  set, it remains unchanged.

In [28]:
set1={1,2,3,4,5,6}
set1.remove(6)#Removes the specified element
set1.discard(2) #Remove the specified item
print(set1)

{1, 3, 4, 5}

8) <b>difference() :)</b> Returns the difference of two or more sets as a new set
- difference is performed using - operator.

In [38]:
x = set([6, 4,8,5.5, "Telegram"])
y = set(["6","Television",5,8,9])
# with functions
print( x.difference(y) )    #  x - y is equal to the elements present in x but not in y
print( y.difference(x) )   #  y - x is equal to the elements present in y but not in x
#with operators
print(x-y)
print(y-x)

{4, 5.5, 'Telegram', 6}
{9, '6', 5, 'Television'}
{4, 5.5, 'Telegram', 6}
{9, '6', 5, 'Television'}

9) <b>difference_update():)</b> method removes the items that exist in both sets. mean method removes the unwanted items from the original set.
- The difference_update() method is different from the difference() method, because the difference() method returns a new set, without the unwanted items, but the difference_update() method removes the unwanted items from the original set

In [43]:
x = {"hello", 9, 10, "hi"}
y = {9, "hi", 6, "BeginnersBook"}
x.difference_update(y)    # X-Y
print(x)

{'hello', 10}

10) <b>Intersection() :)</b> Returns the intersection of two sets as a new set.
- intersection is performed using & operator.

In [44]:
x = set([6, 4,8,5.5, "Telegram"])
y = set(["6","Television",5,8,9])
#function
print(x.intersection(y))
#operator
print(x & y)

{8}
{8}

11) <b>Intersection_update():)</b> Updates the set with the intersection of itself and another.

In [48]:
x = set([6, 4,8,5.5, "Telegram"])
y = set(["6","Television",5,8,9])
print(x.intersection_update(y))
print(x)
print(y)

None
{8}
{'6', 5, 8, 9, 'Television'}

12) <b>Isdisjoint() :)</b> Returns True if two sets have a null intersection

In [49]:
x = set([6, 4,8,5.5, "Telegram"])
y = set(["6","Television",5,8,9])
print(x.isdisjoint(y))

False

13) <b>issubset(): )</b>Returns True if another set contains this set

In [50]:
x = set([6, 4,8,5.5, "Telegram"])
y = set(["6","Television",5,8,9])
print( x.issubset(y) )

False

14) <b>issuperset() </b>:Returns True if this set contains another set

In [51]:
x = set([6, 4,8,5.5, "Telegram"])
y = set(["6","Television",5,8,9])
print( x.issuperset(y) )

False

15) <b>symmetric_difference():)</b> Returns a set with the symmetric differences of two sets. i.e, opposite of intersection

In [52]:
x = set([6, 4,8,5.5, "Telegram"])
y = set(["6","Television",5,8,9])
print(x.symmetric_difference(y))
print(x ^ y)

{4, 5, 5.5, 6, 9, '6', 'Telegram', 'Television'}
{4, 5, 5.5, 6, 9, '6', 'Telegram', 'Television'}

16) <b>symmetric_difference_update():)</b> Updates a set with the symmetric difference of itself and another
- The symmetric difference of two sets A and B is the set of elements that are in either A or B, but not in their intersection.
- returns None (returns nothing). Rather, it updates the set calling it.

In [55]:
x = set([6, 4,8,5.5, "Telegram"])
y = set(["6","Television",5,8,9])
print(x.symmetric_difference_update(y))
print(x)

None
{4, 5.5, 'Telegram', 6, '6', 5, 9, 'Television'}