## Operators

In [1]:
import operator
#operator.function

#### 1) Arithmetic

In [104]:
x=5;y=3
#Addition
print(x+y)
operator.add(x, y)

8

8

In [105]:
# Subtraction  
print(x-y)
operator.sub(x, y)

2

2

In [107]:
# Multiplication  
print(x * y)
operator.mul(x, y)

15

15

In [106]:
#Division - Divide left operand by the right one (always results into float)
print(x / y)
operator.truediv(x,y)

1.6666666666666667

1.6666666666666667

In [163]:
#Modulus(remainder of x/y)
print(x % y)
operator.mod(x,y)

2

2

In [164]:
#Exponentiation - left operand raised to the power of right
print(x ** y)
operator.pow(x,y)

125

125

In [166]:
#Floor division -division that results into whole number adjusted to the left in the number line
print(x // y)
operator.floordiv(x,y)

1

1

#### 2) Comparison

In [111]:
a=4;b=2

#greater than - True if left operand is greater than the right
print(a > b)
operator.gt(a, b)

True

True

In [112]:
#Less than - True if left operand is less than the right
print(a < b)
operator.lt(a, b)

False

False

In [113]:
#Equal to - True if both operands are equal
print(a == b)
operator.eq(a, b)

False

False

In [114]:
#Not equal to - True if operands are not equal
print(a != b)
operator.ne(a,b)

True

True

In [115]:
#Greater than or equal to - True if left operand is greater than or equal to the right
print(a >= b)
operator.ge(a,b)

True

True

In [116]:
#Less than or equal to - True if left operand is less than or equal to the right
print(a <= b)
operator.le(a, b)

False

False

#### 3) Logical

In [167]:
p=True;q=False

#True if both the operands are true
print(p and q)

False

In [150]:
#True if either of the operands is true
print(p or q)

True

In [151]:
#True if operand is false (complements the operand)
print(not p)

False

#### 4) Bitwise

In [120]:
g = 10 # 0000 1010 in binary
h = 4  # 0000 0100 in binary

#Bitwise AND
print(g & h)
operator.and_(g,h)

0

0

In [121]:
#Bitwise OR 
print(g | h) 
operator.or_(g,h)

14

14

In [140]:
#Bitwise Not or complement
print(~g)
operator.inv(g)

-11

-11

In [168]:
#Bitwise XOR
print(g ^ h )
operator.xor(g,h)

14

14

In [178]:
#Bitwise right shift
print(g>>4)
operator.rshift(g,4) # 4 is shift

0

0

In [179]:
#Bitwise left shift
print(g<<2)
operator.lshift(g,2) # 2 is shift

40

40

#### 5) Assignment
- Inplace operators behave similar to normal operators except that they act in a different manner in case of mutable and Immutable targets.

In [81]:
s = 5;t= 4

In [187]:
s += t  # s=s + t
operator.iadd(s,t)

18.25

In [185]:
s -= t  # s=s - t
operator.isub(s,t)

SyntaxError: invalid syntax (<ipython-input-185-6adfe2410fbd>, line 1)

In [ ]:
s *= t  # s=s * t
operator.imul(s,t)

In [162]:
s /= t  # s=s / t
operator.itruediv(s,t)

SyntaxError: invalid syntax (<ipython-input-162-a8c057d4491b>, line 1)

In [ ]:
s %= t   # s=s%t
operator.imod(s,t)

In [ ]:
s **= t  # s=s ** t
operator.ipow(s,t)

In [ ]:
s //= t  # s=s // t
operator.ifloordiv(s,t)

In [ ]:
s &= t   # s=s & t
operator.iand(s,t)

In [ ]:
s |= t   # s=s | t
operator.ior(s,t)

In [ ]:
s ^= t   # s=s ^ t
operator.ixor(s,t)

In [198]:
s >>= t   # s=s >> t
operator.rshift(s,t)

TypeError: unsupported operand type(s) for >>=: 'float' and 'int'

In [190]:
s <<= t  # s=s << t
operator.ilshift(s,t)

TypeError: unsupported operand type(s) for <<=: 'float' and 'int'

#### 6) Identity

In [139]:
c=3;d=5

#is      	Returns True if both variables are the same object  
print(c is d)
operator.is_(c,d)

False

False

In [138]:
#is not  	Returns True if both variables are not the same object
print(c is not d)
operator.is_not(c,d)

True

True

#### 7) Membership

In [155]:
z = 'Geeks for Geeks'
q='G'

#in      	Returns True if a sequence with the specified value is present in the object
print(q in z)

True

In [156]:
#not in  	Returns True if a sequence with the specified value is not present in the object
print('F' not in z)

True

- The == operator compares the values of both the operands and checks for value equality. Whereas is operator checks whether both the operands refer to the same object or not.

In [102]:
list1 = [] 
list2 = [] 
list3=list1 
if (list1 == list2): 
    print("True") 
else: 
    print("False")

True

In [101]:
list1 = [] 
list2 = [] 
list3=list1 
if (list1 is list2): 
    print("True") 
else: 
    print("False")

False

#### Some others functions

In [201]:
operator.truth(0)  # same as bool(0)

False

In [213]:
operator.index(2) # converted to an integer

2

In [208]:
operator.abs(-221.5)  # absolute value is number and takes only one argument of any  integer, a float or a complex number.

221.5

In [243]:
operator.neg(2) # converts positive to negative

-2

In [245]:
operator.pos(-2.5) # converts negative to positive

-2.5

In [246]:
a='Hello';b='All'
operator.concat(a, b) # concatination of two containers.

'HelloAll'

In [255]:
obj1='Hello'
obj2='e'
operator.contains(obj1, obj2) #check if obj2 in present in obj1

True

In [254]:
a='Hello'
b='l'
operator.countOf(a,b)  #number of occurrences of b in a.

2

In [268]:
p=[1,2,3]
operator.setitem(p, 2, 5)  #set the value in a particular position in the container ---ob[pos] = val
print(p)

[1, 2, 5]

In [273]:
a=[2,3,4,5]
operator.delitem(a,3) #delete the value from a particular position in the container---del ob[pos]
print(a)

[2, 3, 4]

In [272]:
b=[8,9,10]
operator.getitem(b,2)  # access the value in a particular position in the container----ob[pos]

10

In [281]:
seq=[7,8,9,10,11]
i=1;j=3
values=[5,4]
operator.setitem(seq, slice(i, j), values) #set the values in a particular range in the container ---seq[i:j] = values
print(seq)                                 # in set,list,tuple j position is not included

[7, 5, 4, 10, 11]

In [282]:
seq=[7,8,9,10,11]
i=1;j=3
operator.delitem(seq, slice(i, j))    #delete the values from a particular range in the container---del seq[i:j]
print(seq)

[7, 10, 11]

In [284]:
seq=[7,8,9,10,11]
i=1;j=3
operator.getitem(seq, slice(i, j))   # access the values in a particular range in the container----seq[i:j]

[8, 9]

In [285]:
x='Google'
y='o'
operator.indexOf(x,y) #index of the first of occurrence of y in x

1

In [ ]:
operator.matmul(a,b) #same as Matrix Multiplication a @ b