## Tuples
- A tuple is a collection which is ordered and immutable(unchangeable) . A tuple in Python is similar to a list.

- may contain duplicate values

- A tuple is created by placing all the items (elements) inside parentheses (), separated by commas. parentheses are optional

- Access tuple items by referring to the index number, inside square brackets

- You can specify a range of indexes by specifying where to start and end the range. but ending position is not included.

In [6]:
# Empty tuple
my = ()
print(my)

()

In [5]:
# tuple with mixed datatypes
my= (1, "Hello", 3.4)
print(my)

(1, 'Hello', 3.4)

In [4]:
# nested tuple1
n= ("mouse", [8, 4, 6], (1, 2, 3))
print(n)

('mouse', [8, 4, 6], (1, 2, 3))

In [9]:
# nested tuple2
Tuple1=(3,6.7,'Hi')
Tuple2=(6,7,'Hello')
m = (Tuple1, Tuple2)    
print(m)

((3, 6.7, 'Hi'), (6, 7, 'Hello'))

In [10]:
# Concatenaton of tuples 
Tuple3 = Tuple1 + Tuple2
print(Tuple3)

(3, 6.7, 'Hi', 6, 7, 'Hello')

In [11]:
#Creating a Tuple with repetition
Tu = ('Hello',) * 3    
print(Tu)

('Hello', 'Hello', 'Hello')

In [ ]:
#with the use of built-in function 
T= tuple('krishna')
print(T)

In [13]:
#Reversing the Tuple 
T=(3,4,5)
print(T[::-1])

(5, 4, 3)

In [19]:
# Deleting a Tuple 
te =(2,3,4)
del te

In [20]:
# Creating a Tuple with the use of list and converting with inbuilt function
li = [1, 2, 4, 5, 6]
print(tuple(li))

(1, 2, 4, 5, 6)

A tuple can also be created without using parentheses. This is known as <b>tuple packing</b>.

In [21]:
# tuple packing is also possible
my_tuple = 3, 4.6, "dog"
# tuple unpacking is also possible
a, b, c = my_tuple

In [22]:
#accessing with index number
my= (1, "Hello", 3.4)
print(my[0])

1

In [24]:
#Negative Indexing
print(my[-1])

3.4

In [28]:
#accessing nested tuple
n= ("mouse", [8, 4, 6], (1, 2, 3))
print(n[0][3])

s

##### Slicing operator - colon ":"

In [35]:
my= (1, "Hello", 3.4,6,7,8,2,9,0)
#range
print(my[1:4])
#start to up to position
print(my[:-7])
#position to end
print(my[7:])
#full tuple
print(my[:])

('Hello', 3.4, 6)
(1, 'Hello')
(9, 0)
(1, 'Hello', 3.4, 6, 7, 8, 2, 9, 0)

In [34]:
#list in tuple take as a single object t[2][1] i.e, prints 5
t=(1,2,[3,5])
print(t[2][1])

5

### Functions in Tuple

- count(value)  :	Returns the number of times a specified value occurs in a tuple

In [37]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.count(5)
print(x)

2

- index(value)   :	Searches the tuple for a specified value and returns the position of where it was found

In [38]:
x = thistuple.index(8)
print(x)

3

- max(n1, n2, n3, ...)	return maximum element of given tuple

In [43]:
#Return the name with the highest value, ordered alphabetically
x = max("Mike", "John", "Vicky")
print(x)

Vicky

- min(n1, n2, n3, ...)	return minimum element of given tuple

In [42]:
x = min("Mike", "John", "Vicky")
print(x)

John

- sum(a, start)---this returns the sum of the list + start. start is optional

In [46]:
t=(1,2,3,4,5,6,7)
Sum = sum(t, 10)
print(Sum)

38

- sorted(nameoftuple, key, reverse):	input elements in the tuple and return a new sorted list.key and reverse is optional.<br>
   key= which takes a function as its parameter.<br>
   reverse= If set true, then the iterable would be sorted in reverse (descending) order, by default it is set as false.

In [58]:
tt=(1,2,3,4,5,6,7)
print (sorted(tt, reverse = True))

[7, 6, 5, 4, 3, 2, 1]

In [57]:
L = ["cccc", "b", "dd", "aaa"]
print ("Sort with len :", sorted(L, key = len))

Sort with len : ['b', 'dd', 'aaa', 'cccc']

In [60]:
tt=(2,9,5,4,6)
print (sorted(tt, reverse = False,key=None)) # equal to sortted(tt)

[2, 4, 5, 6, 9]